@media (max-width: 500px) {
    .banner {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        overflow: hidden;
    }

    .container img {
       width: 150px;
    }
    .container h1 {
        font-size: 1.2rem;
        color: #f9f9f9;
        margin-bottom: 1rem;
    }
    .container p {
        color: rgb(109, 109, 109);
        letter-spacing: 2px;
    }
    .redes-sociais {
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-areas: 
            "insta "
            "git"
            "link "
            "port"
            "pix"
        ;
    }


    .pix h4 {
        font-size: 20px;
    }


    .pix h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }
}
@media (max-width: 380px) {
    .container img {
       width: 150px;
    }
    .container h1 {
        font-size: 1.2rem;
        color: #f9f9f9;
        margin-bottom: 1rem;
    }
    .container p {
        color: rgb(109, 109, 109);
        letter-spacing: 2px;
    }
    .redes-sociais {
        margin: auto;
        position: relative;
        margin: 0 2rem;
        text-align: center;
        display: grid;
        grid-template-areas: 
            "insta "
            "git"
            "link "
            "port"
            "pix"
        ;
    }
    .instagram {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .GitHub {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .Linkedin {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .Portfólio {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .pix {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .pix h4 {
        font-size: 18px;
    }




    .pix h2 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .efect {
        padding: 20px 5px;
    }
}