@media (max-width: 510px) {
    .banner {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        overflow: hidden;
    }

    .container img {
       width: 120px;
    }
    .container h1 {
        font-size: 1.2rem;
        color: #f9f9f9;
    }
    .container p {
        color: rgb(109, 109, 109);
        letter-spacing: 2px;
    }
    .redes-sociais {
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-areas: 
            "insta "
            "git"
            "link "
            "port"
            "pix"
        ;
    }
    .instagram {
        width: 350px;
        padding: 20px;
        margin: 10px auto;
    }
    .GitHub {
        width: 350px;
        padding: 20px;
        margin: 10px auto;
    }
    .Linkedin {
        width: 350px;
        padding: 20px;
        margin: 10px auto;
    }
    .Portfólio {
        width: 350px;
        padding: 20px;
        margin: 10px auto;
    }
    .pix {
        margin: 10px auto;
        width: 350px;
        padding: 20px;
    }

    .pix h4 {
        font-size: 15px;
    }


    .pix h2 {
        font-size: 15px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .pix p {
        margin-bottom: 5px;
        font-size:16px;
    }
}




@media (max-width: 380px) {
    .container img {
       width: 120px;
    }
    .container h1 {
        font-size: 1.2rem;
        color: #f9f9f9;
    }
    .container p {
        color: rgb(109, 109, 109);
        letter-spacing: 2px;
    }
    .redes-sociais {
        margin: auto;
        position: relative;
        margin: 0 2rem;
        text-align: center;
        display: grid;
        grid-template-areas: 
            "insta "
            "git"
            "link "
            "port"
            "pix"
        ;
    }
    .instagram {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .GitHub {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .Linkedin {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .Portfólio {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .pix {
        margin: 10px auto;
        width: 330px;
        padding: 20px;
    }
    .pix h4 {
        font-size: 14px;
    }




    .pix h2 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .efect {
        padding: 20px 5px;
    }
}