@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    
}
a {
    color: #f9f9f9;
    text-decoration: none;
}
body {
    background-color: #1c1427;
    color: #f9f9f9;
}
.banner {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.container img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.container h1 {
    color: #f9f9f9;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.container p {
    color: rgb(144, 144, 144);
    letter-spacing: 2px;
}

/* Redes Socias */

.redes-sociais {
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    width: 700px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        "insta git"
        "link port"
        "pix pix"
    ;
}

.fab,.fas {
    font-size: 3rem;
    margin-bottom: 10px;
}

.instagram {
    margin:10px 20px;
    padding: 20px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    grid-area: insta;
    border-radius: 5px;

    animation: logo 6s ease-in-out infinite;
    transition: all 0.5s;
}
.GitHub {
    margin: 10px  20px;
    padding: 20px;
    background: linear-gradient(58deg, #7ec7c3 8%, #205e88 98%);
    grid-area: git;
    border-radius: 5px;

    animation: logo 6s ease-in-out infinite;
    transition: all 0.5s;

}
.Linkedin {
    padding: 20px;
    background: linear-gradient(90deg, #7996d8 0%, #0e1930 100%);
    grid-area: link;
    margin: 10px 20px;
    border-radius: 5px;

    animation: logo 6s ease-in-out infinite;
    transition: all 0.5s;
}
.Portfólio {
    padding: 20px;
    background: linear-gradient(180deg, rgba(15,0,36,1) 0%, rgba(128,0,255,1) 0%, rgba(57,9,121,1) 100%);
    grid-area: port;
    border-radius: 5px;
    margin: 10px  20px;

    animation: logo 6s ease-in-out infinite;
    transition: all 0.5s;
}
.pix {
    padding: 20px;
    background: radial-gradient(circle, #ccffbd 0%, #7eca9c 100%);
    grid-area: pix;
    margin: 20px 20px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    color: #1c1427;

}
.pix h2 {
    margin-bottom: 15px;
}
.pix p {
    font-size: 20px;
    margin-bottom: 20px;
}


.pix h4 {
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: #1c1427;
    padding: 8px 30px;
    color: #7eca9c;
}




@keyframes logo{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-15px)
	}
}
