@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    
}
a {
    color: #f9f9f9;
    text-decoration: none;
}
body {
    background-color: rgb(255, 255, 255);
    color: #f9f9f9;
}
.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.11;
}
.banner .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.container img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.container h1 {
    color: black;
    margin-bottom: 1rem;
}
.container p {
    color: rgb(109, 109, 109);
    letter-spacing: 2px;
}

/* Redes Socias */

.redes-sociais {
    position: relative;
    z-index: 5;
    width: 700px;
    text-align: center;
    display: grid;
    grid-template-areas: 
        "insta git"
        "link port"
        "pix pix"
    ;
}

.fab,.fas {
    font-size: 3rem;
    margin-bottom: 10px;
}

.instagram {
    margin: 10px  20px;
    padding: 20px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    grid-area: insta;
    border-radius: 10px 50px 10px 50px;
}
.GitHub {
    margin: 10px  20px;
    padding: 20px;
    background: linear-gradient(58deg, #7ec7c3 8%, #205e88 98%);
    grid-area: git;
    border-radius: 50px 10px 50px 10px;

}
.Linkedin {
    padding: 20px;
    background: linear-gradient(90deg, #7996d8 0%, #0e1930 100%);
    grid-area: link;
    margin: 10px 20px;
    border-radius: 10px 50px 10px 50px;
}
.Portfólio {
    padding: 20px;
    background: linear-gradient(180deg, rgba(15,0,36,1) 0%, rgba(128,0,255,1) 0%, rgba(57,9,121,1) 100%);
    grid-area: port;
    margin: 10px  20px;
    border-radius: 50px 10px 50px 10px;
}
.pix {
    padding: 20px;
    background: radial-gradient(circle, rgb(69, 179, 73) 0%, rgb(5, 122, 36) 100%);
    grid-area: pix;
    margin: 20px 20px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;

}
.pix h2 {
    margin-bottom: 10px;
}
.pix p {
    font-size: 17px;
    margin-bottom: 10px;
}


.pix h4 {
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.btnPix {
    margin-top: 10px;
    padding: 12px 40px;
    border: none;
    background-color: rgb(5, 122, 36);
    color: #f9f9f9;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
}
.btnPix:hover {
    background-color:rgb(8, 110, 8) ;
}

.efect:hover {
    filter: opacity(0.8);
}